.wp-block-ept-transform-language-button{
padding-right: 1.3rem;
display:flex;
align-items: baseline;
text-wrap: nowrap;
color:white;
}

.wp-block-ept-transform-language-button .dropbtn>button {
  background-color: var(--ept-background); 
  color:white;
  padding-left: 0.25rem;
  padding-top: 0.55rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  cursor: pointer;
}
.wp-block-ept-transform-language-button .language-dropdown:hover button{
text-decoration: underline;
}
.wp-block-ept-transform-language-button .globe{
  margin-right:.5rem;
  font-size:1.1rem;
}

.wp-block-ept-transform-language-button .language-dropdown {
  position: relative;
  display: inline-block;
}
.wp-block-ept-transform-language-button .dropdown-content {
  display: none;
  margin-left:.5rem;
  background-color: var(--ept-background);  
  padding:.2rem;
  padding-bottom:.1rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.wp-block-ept-transform-language-button .dropdown-content a {
  color: var(--wp--preset--color--white);
  background-color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.wp-block-ept-transform-language-button .button-element{
  background-color:var(--ept-background);
  color:#f1f1f1;
  padding:3px;
}

.wp-block-ept-transform-language-button .dropdown-content input:hover {
  color:white;
}
.wp-block-ept-transform-language-button .dropdown-content input:hover.button-element{
  background-color: var(--wp--preset--color--ept-gray-800);
  color:white;
  border-radius: 1px;
  cursor:pointer;
}

.wp-block-ept-transform-language-button .language-dropdown:hover .dropdown-content {
  display: flex;
  align-items: center;
  position: absolute;
  overflow:hidden;
}
